astropy==7.1.0
astropy-iers-data==0.2025.8.4.0.42.59
certifi==2025.8.3
colorama==0.4.6
contourpy==1.3.3
convertdate==2.4.0
cycler==0.12.1
de422==2009.1
fonttools==4.59.0
iniconfig==2.1.0
jdcal==1.4.1
joblib==1.5.1
jplephem==2.23
kiwisolver==1.4.9
matplotlib==3.10.5
mpmath==1.3.0
numpy==2.3.2
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
pyerfa==2.0.1.5
Pygments==2.19.2
PyMeeus==0.5.12
pyparsing==3.2.3
pyproj==3.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scikit-learn==1.7.1
scipy==1.16.1
sgp4==2.25
shapely==2.1.1
six==1.17.0
skyfield==1.53
spicepy==1.0.5
spiceypy==6.0.3
# Editable install with no version control (spk-universal-timestamp==0.1.0)
-e c:\users\roswe\python-projects\spk_universaltimestamp
threadpoolctl==3.6.0
tzdata==2025.2
